{% extends 'base.html' %}

{% block content %}

<h1>Upload Your Product!</h1>
{% if errorP %}
<h5>{{ errorP }}</h5>
{% endif %}
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label><u>Product Name:</u></label><br/>
    <input type="text" name="product-title"/>
    <br/>
    <br/>
    <label for="product-desc"><u>Product Description:</u></label><br/>
    <textarea cols="50" rows="10" name="product-desc"></textarea>
    <br/>
    <br/>
    <label for="URL"><u>URL:</u></label>
    <br/>
    <input type="text"  name="URL"/>
    <br/>
    <br/>
    <label><u>Product Icon:</u></label>
    <br/>
    <input type="file"  name="product-icon"/>
    <br/>
    <br/>
    <label><u>Product Image:</u></label>
    <br/>
    <input type="file"  name="product-image"/>
    <br/>
    <br/>
    <input class="btn btn-info" type="submit" value="Upload Product">
</form>
{% endblock %}

